/* .form-section {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea,
  input[type="file"],
  select {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  ul {
    margin-top: 10px;
  }
  
  ul li {
    list-style-type: none;
    margin-bottom: 5px;
  }
   */
